name: Simple startup
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out my code
      uses: actions/checkout@v2
    - name: list out directory
      run: ls
